<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>BIENVENUE <%= @user.first_name %> !</h1>
      <p>Ici c'est notre super site de potins, il est chouette, non ?</p>
    </div>
  </div>
</div>
