<div class="container">
<div class="row">
      <div class="card col-md-3 col-md-offset-1 text-center text-white bg-dark mb-3 mx-auto mt-5" style="width: 400px;">
          <div class="card-header ">Paul Floyd Bitsindou</div>
            <div class="card-body">
          <h5 class="card-title">Sport et Hip-hop</h5>

          <a href="https://www.beinsports.com/france/nba/" target="_blank" class="btn btn-light text-dark">Contact le !</a>
            </div>
      </div>
      </div>
</div>
