<!-- TODO : ADD GOSSIPS BY CITY ID OF USERS -->
<div class="card text-center text-white bg-dark mb-3 mx-auto mt-5" style="width: 400px;">
    <div class="card-header ">

    </div>
      <div class="card-body">
    <h5 class="card-title"><%= @city.name %></h5>
    <p><i><%= @city.zip_code %></i></p>
    <a href="<%= cities_path %>" class="btn btn-light">Retour aux villes</a>
  </div>
</div>

